@import "compass/css3";

$perspective: 400px;
$rotation: 20deg;
$boxes: 7;

html, body {
  background-color: #000;
  margin: 0;
  padding: 2em 0 0 0;
}

ul {
  position: absolute;
  left: 2em;
  right: 2em;
  margin: 0;
  padding: 0;
  @include perspective($perspective);
  list-style: none;
  &:hover li {
    @include transform(rotateY($rotation));
  }
}

li {
  display: block;
  width: 100% / $boxes;
  height: 0;
  padding-top: 100% / $boxes;
  border: 1px solid white;
  float: left;
  @include box-sizing(border-box);
  @include transition(all .5s);
  ul &:hover {
    @include transform(rotateY(0deg));
  }
  ul &:hover ~ li {
    @include transform(rotateY($rotation * -1));
  }
}