@charset "utf-8";

@import "partials/reset";
@import url(https://cdnjs.cloudflare.com/ajax/libs/spoqa-han-sans/2.1.1/css/SpoqaHanSans-kr.min.css);

hr {border:0;}

textarea:focus, input:focus{outline:none;}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #9e9e9e;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #9e9e9e;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #9e9e9e;
}
:-moz-placeholder { /* Firefox 18- */
  color: #9e9e9e;
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

header {position:fixed;top:0;left:0;width:100%;height:100px;margin:0 auto;background:#fff;z-index:5;
	h1 {width:1024px;margin:21px auto 0;padding:0 0 0 88px;}
	progress {position: absolute; left: 0; bottom: 0; width: 100%; height: 2px; background-color: transparent; border: none; color: #ec9c00; -moz-appearance: none; -webkit-appearance: none;
		&::-webkit-progress-bar { background-color: transparent; }
		&::-webkit-progress-value { background-color: #ec9c00; }
		&::-moz-progress-bar {background-color:#ec9c00;}
	}
	.progress-container {display: block; width: 100%; height: 2px; background-color: transparent;}
	.progress-bar {background-color: #ec9c00; width: 0; display: block; height: inherit;}
}

#contents {margin:100px 0 0;
	.title {width:100%;height:450px;background:url(https://res.cloudinary.com/dhjjs2uz3/image/upload/v1505371968/KaiCoinPresale/web/bg_main.png) no-repeat 0 90%;background-size:100%;}
	.main-header {width:852px;margin:0 auto;overflow:hidden;
		.left {float:left;width:522px;height:298px;margin:75px 0 0;padding:39px 40px 56px;background:rgba(256, 256, 256, 0.95);border-top-left-radius:30px;}
		.right {float:right;width:330px;height:298px;margin:75px 0 0;padding:45px 0 49px;background:rgba(256, 256, 256, 0.75);border-bottom-right-radius:30px;text-align:center;
			a {display:inline-block;/*margin:21px 0 0;*/margin:10px 0 0;font-size:12px;color:#414141;text-decoration:underline;}
			.login-title {display:block;margin:11px 0 0;padding:0 0 0 50px;font-size:14px;text-align:left;color:#4c4c4c;}
		}
		h2 {padding:0 0 6px;border-bottom:2px solid #4c4c4c;font-size:20px;font-weight:bold;color:#4c4c4c;}
		p {padding:19px 0 0;font-size:30px;line-height:49px;
			em {font-weight:bold;color:#ec9c00;}
		}
		input {width:230px;height:35px;margin:20px 0 0;padding:0 22px;background:transparent;border:1px solid #b9b9b9;border-radius:50px;font-size:14px;box-sizing:border-box;}
		input:focus {border-color:#4c4c4c;color:#4c4c4c;}
		.button-login {width:230px;height:35px;margin:20px 0 0;background:#ec9c00;border-radius:50px;font-size:16px;color:#fff;}
		.welcome-message {padding:40px 0 0;font-size:30px;color:#4c4c4c;line-height:43px;}
		.button-change-password {display:inline-block;width:100%;text-align:center;}
		.button-logout {/*margin:34px 0 0;*/margin:10px 0 0;padding:0 40px;border:1px solid #ec9c00;border-radius:50px;font-size:16px;color:#ec9c00;line-height:33px;}
	}
	h3 {margin:34px 0 0;font-size:20px;font-weight:bold;}
	.wallet {padding:0 0 70px;overflow:hidden;
		&::before {display:block;content:'';height:40px;background:#F7F7F7;}
		& > article {width:852px;margin:0 auto;}
		h3 {float:left;margin:84px 0 0;}
		.balance {float:right;margin:62px 0 0;color:#ec9c00;
			.number {font-size:40px;vertical-align:middle;}
			small {font-size:20px;vertical-align:middle;}
		}
		h4 {clear:both;padding:75px 0 0;font-size:16px;font-weight:bold;color:#414141;}
		.wallet-history {margin:27px 0 0;overflow:hidden;}
		.wallet-history li {padding:0 40px;font-size:14px;line-height:59px;}
		.wallet-history li:nth-child(odd) {background:#f5f5f5;}
		.wallet-history span {display:inline-block;}
		.wallet-history .date {width:33%;}
		.wallet-history .contents {width:24%;}
		.wallet-history .price {width:42%;font-size:18px;font-weight:bold;text-align:right;}
		.wallet-history .history-0 {text-align:center;}
	}
	.future, .faq {
		& > article {width:852px;margin:0 auto;}
	}
	.future {padding:0 0 24px;overflow:hidden;
		&::before {display:block;content:'';height:40px;background:#F7F7F7;}
		h3 {float:left;}
		p {float:right;width:680px;margin:39px 0 0;font-size:14px;line-height:25px;}
	}
	.faq {padding:0 0 60px;overflow:hidden;
		&::before {display:block;content:'';height:40px;background:#F7F7F7;}
		h3 {float:left;}
		dl {float:right;width:680px;margin:16px 0 0;}
		dl dt {padding:22px 0 0;font-size:14px;font-weight:bold;}
		dl dd {font-size:14px;}
	}
	.join {padding:0 0 65px;
		h2 {width:352px;margin:0 auto;padding:34px 0 0;font-size:20px;font-weight:bold;color:#4c4c4c;}
		p {width:352px;margin:12px auto 0;font-size:12px;color:#4c4c4c;}
		.form-join {padding:18px 0 0;}
		.form-join dt {width:352px;margin:20px auto 0;font-size:14px;font-weight:bold;}
		.form-join dd {position:relative;width:352px;margin:0 auto;padding:7px 0 0;overflow:hidden;
			input {width:100%;height:35px;padding:0 22px;background:transparent;border:1px solid #b9b9b9;border-radius:50px;font-size:14px;box-sizing:border-box;}
			input:focus {border-color:#4c4c4c;color:#4c4c4c;}
			input.code {width:73%;}
			.certification-count {display:inline-block;width:26%;font-size:18px;color:#f41616;text-align:right;}
			input.error {border-color:#ef5113;}
		}
		.form-join .certification-code-title {display:none;width:100%;background:#f7f7f7;}
		.form-join .certification-code-content {display:none;width:100%;padding:0 0 27px;background:#f7f7f7;}
		.form-join .certification-code-title p, .form-join .certification-code-content p {margin:0 auto;padding:0;}
		.form-join .certification-code-title p {padding:27px 0 0;font-size:14px;}
		.form-join .certification-code-content p {padding:7px 0 0;}
		.certification-navigator {width:352px;margin:0 auto;padding:0;overflow:hidden;}
		.button-resend-sms {float:left;margin:30px 0 0;padding:0;border:0;font-size:14px;color:#4c4c4c;}
		.button-resend-sms:disabled {background:transparent;color:#4c4c4c;opacity:0.3;cursor:auto;}
		.button-certification-complete {margin:30px 0 0;}
		.button-certification-complete:disabled {cursor:auto;}
		.agree-policy {position:relative;margin:10px 0 0;padding:0;
			input[type=checkbox] {position:absolute;top:3px;left:0;display:inline-block;width:16px;height:16px;margin:0;padding:0;border:0;vertical-align:middle;opacity:0;
				& + span {display:inline-block;width:16px;height:16px;margin:0 13px 0 0;background:#fff url(https://res.cloudinary.com/dhjjs2uz3/image/upload/v1505448852/KaiCoinPresale/web/checkbox.png) no-repeat 0 0;background-size:16px 32px;vertical-align:middle;}
				&:checked + span {background:#fff url(https://res.cloudinary.com/dhjjs2uz3/image/upload/v1505448852/KaiCoinPresale/web/checkbox.png) no-repeat 0 -16px;background-size:16px 32px;}
			}
			label {display:inline-block;width:89%;line-height:1.5;vertical-align:top;}
			a {color:#4c4c4c;text-decoration:underline;}
		}
		.button-complete {float:none;width:100%;margin:20px 0 0;}
		.email-check {position:absolute;top:16px;right:15px;display:none;width:25px;height:16px;background:url(https://res.cloudinary.com/dhjjs2uz3/image/upload/v1505457559/KaiCoinPresale/web/email_check.png) no-repeat 0 0;background-size:25px 16px;}

		button {float:right;margin:15px 0 0;padding:0 20px;border:1px solid #ec9c00;border-radius:50px;font-size:16px;color:#ec9c00;line-height:33px;}
		button:disabled {background:#c4c4c4;border-color:#c4c4c4;color:#7e7e7e;}
		button.fill {background:#ec9c00;color:#fff;}
		button.fill:disabled {background:#c4c4c4;border-color:#c4c4c4;color:#7e7e7e;}
		p.error {display:none;margin:8px 0 0;padding:0 0 0 23px;background:url(https://res.cloudinary.com/dhjjs2uz3/image/upload/v1505453903/KaiCoinPresale/web/icon_warning.png) no-repeat 5px 4px;background-size:15px;font-size:12px;color:#ef5113;}
	}

	.admin {
		.form {width:850px;margin:0 auto;padding:50px 0 80px;overflow:hidden;}
		.form dt {float:left;width:13%;padding:15px 0 0;font-size:14px;line-height:1.9;}
		.form dd {float:left;width:37%;height:60px;padding:15px 0 0;}
		.form dd input {width:90%;padding:1% 5%;background:transparent;border:1px solid #b9b9b9;font-size:14px;border-radius:5px;box-sizing:border-box;}
		.button-complete {width:90%;height:26px;margin:0 auto;background:#ec9c00;color:#ec9c00;border-radius:15px;color:#fff;}
		.kaicoin-infomation {width:850px;margin:0 auto;}
		.kaicoin-infomation .row {overflow:hidden;}
		.kaicoin-infomation .col-md-6 {display:inline-block;width:50%;}
		.kaicoin-infomation .VueTables__search {font-size:14px;
			label {margin:0 4px 0 0;vertical-align:middle;}
			input {height:24px;padding:0 10px;vertical-align:middle;}
		}
		.kaicoin-infomation .VueTables__limit {font-size:14px;text-align:right;
			label {margin:0 4px 0 0;vertical-align:middle;}
			select {height:24px;vertical-align:middle;}
		}
		.kaicoin-infomation table {table-layout:fixed;margin:20px 0 0;border-collapse:collapse;text-align:center;}
		.kaicoin-infomation table th {padding:7px 0 8px;border:1px solid #ccc;font-size:16px;word-wrap:break-word;word-break:break-all;white-space:pre-wrap;}
		.kaicoin-infomation table td {padding:7px 0 8px;border:1px solid #ccc;font-size:14px;word-wrap:break-word;word-break:break-all;white-space:pre-wrap;}
		.kaicoin-infomation table th:first-of-type, .kaicoin-infomation table td:first-of-type {width:7%;}
		.kaicoin-infomation table th:nth-child(2), .kaicoin-infomation table td:nth-child(2) {width:25%;}
		.kaicoin-infomation table th:nth-child(7), .kaicoin-infomation table td:nth-child(7) {width:9%;}
		.kaicoin-infomation table th:last-of-type, .kaicoin-infomation table td:last-of-type {width:11%;}
		.VuePagination {margin:18px 0 60px;text-align:center;
			.VuePagination__pagination li {display:inline-block;padding:0 15px;}
			.VuePagination__pagination li.active {font-weight:bold;}
			.VuePagination__pagination li.disabled {opacity:0;}
			.VuePagination__pagination li a {color:#666;cursor:pointer;}
			.VuePagination__count {display:none;;}
		}
		p.error {display:none;margin:3px 0 0;padding:0 0 0 23px;background:url(https://res.cloudinary.com/dhjjs2uz3/image/upload/v1505453903/KaiCoinPresale/web/icon_warning.png) no-repeat 5px 4px;background-size:15px;font-size:12px;color:#ef5113;}
	}
}


footer {background:#414141;
	.infomation li {font-size:12px;text-align:center;line-height:85px;color:#fff;
		a {font-size:12px;color:#fff;text-decoration:underline;}
	}
}